html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    scrollbar-width:thin;
    scrollbar-color: $darkGreen $lightGrey;
}

/* width */
::-webkit-scrollbar {
    width: 10px; 
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $darkGrey;    
    // border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: $darkGreen;
    border-radius: 10px; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $lightPeach; 
}

.wrapper {
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;

    @include small-phone{        
        width: 98%;        
    }
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: $lightGrey;
    font-family: $baseFont;
}

h2,h3,h4,a,button, p{
    font-family: $baseFont
}

h2{
    @include fluid-font-size(2.5rem, 4rem);
    display: inline-block;
    color: $darkGreen; 
    text-align: left;   
    position: relative; 
    font-weight: bold;     
}

h2::before{
    content: "";
    background-color: $projectColor;
    width: 0;
    height: 40%;        
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -20;
}

@keyframes underline{
    from{
        width:0;
    }

    to{
        width: 85%;
    }
}

section.is-visible h2::before {
    animation: underline 1s forwards linear;
}

header{    
    min-height: 100vh;    
    margin: 0;
    position: relative;
}

#particles-js{
    height: 100vh;    
    background: radial-gradient(circle, rgba(15,90,92,1) 0%, rgba(49,68,85,1) 100%);
}

h1{    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 90;    

    a{
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;        
        @include fluid-font-size(2rem, 6.5rem);
        color:white;
        font-family: $headerFont;       
        display: inline-block; 
        mask-image: linear-gradient(-75deg, rgba(0,0,0,0.65) 30%, #000 50%, rgba(0,0,0,0.65) 70%);
        mask-size: 200%;
        animation: shine 2s linear infinite;
    }   

    @keyframes shine {
        from { -webkit-mask-position: 150%; }
        to { -webkit-mask-position: -50%; }
    }
}


//about section style
.about{
    margin: 0;  
    height: auto;    
}

.aboutContainer{         
    margin: 0 auto;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;   
    align-items: center;
    
    h2{
        margin-left: 0;
        margin-top: 2%;
    }
}
    
.textAbout{
    padding: 5%;
    height: auto;   
    border-bottom: 2px solid $whiteColor;                 
    p{
        font-family: $baseFont;
        @include fluid-font-size(1.6rem, 2rem);
        color: $darkGreen;
        margin-top: 0;
        margin-bottom: 20px;
    }
}

.skills{   
    width: 100%;
    height: auto;
    padding: 5%;
    border-bottom: 2px solid $whiteColor;
    
    .icons{
        display: flex;
        flex-wrap: wrap;        
        align-items: center;
        justify-content: center;
        li{
            position: relative;
            display: flex;
            flex-direction: column;
            min-height: 9rem;
            width: calc(100% / 6);
            text-align: center;
            margin: 25px 0; 

            @include small-laptop{
                width: calc(100% / 4);
            }

            @include tablet{
                width: calc(100% / 3);
            }
        
            @include small-phone{
                margin: 15px 15px;
            }
                            
            i{
                @include fluid-font-size(3rem, 4rem);
                color:$darkGreen;               
            }

            p{
                @include fluid-font-size(1.6rem, 2rem);
                color: $darkGreen;
                margin-top: 15px;
                text-align: center;
            }
        }

        .sass-css{
            display: flex;;
            flex-direction: row;
            justify-content: center;
        }
    }       
}


//arrow to scroll to top of page
.up-button {    
    @include fluid-font-size(3rem, 5rem);
    display: none;
    position: fixed;
    bottom: 7%;
    right:1%;
    z-index: 99;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: $darkGreyOpacity;    
    box-shadow: none;
    transition: transform ease-in-out .2s;
}

.up-button:hover,
.up-button:focus {
    background-color:  transparent;
    transform: scale(1.2);
    color: $greenOpacityUpButton;
}


@keyframes fullUnderline{
from{
    width:0;
}

to{
    width: 100%;
}
}
