.work{
    margin: 0;
    height: auto;  
    
    h2{
        margin: 5% 0 0 5%;        
    }

    h2::before{
        background-color: $projectColor;
    }
}

.projectsContainer{
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    padding: 5%; 
    border-bottom: 2px solid $whiteColor;
    
    .project {    
        position: relative;    
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center;  
        height: 700px;
        background-color: $projectColor;
        border: 2px solid $darkGreen;
        border-radius: 15px;        
        margin: 20px auto;
        padding:20px;   
        box-shadow: 5px 5px 5px $darkGreen; 
        
        .image-container {
        cursor: pointer;    
        height: 90%;
        overflow: hidden;
        width: 50%;
        margin: 20px;
        border: 2px solid $darkGrey;   
        border-radius: 15px;        
        box-shadow: 5px 5px 5px $darkGrey;
        transition: all .2s ease-in-out;

            img {                
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .2s ease-in-out;
                filter: grayscale(80%);
            }
        
        }    

        .image-container:hover img,
        .image-container:focus img{
            transform: scale(1.1); 
            filter: grayscale(0);          
        }

        .text{
            width: 40%;
            padding: 10px 30px;

            a{
                text-decoration: none;
                

                .title {
                @include fluid-font-size(2rem,4rem);
                color: $darkGreen;       
                pointer-events: none;
                margin: 15px auto;
                pointer-events: none;
                white-space: nowrap;
                text-transform: uppercase;
                font-weight: bold;
                text-shadow: 1px 1px 1px $darkPeach,
                            1px 2px 1px $darkPeach,
                            1px 3px 1px $darkPeach,
                            1px 4px 1px $darkPeach;
                transition: all .2s ease-in-out;
                
                }  
            }
            
            
            a:hover .title,
            a:focus .title{
                text-shadow: 1px 1px 1px $darkPeach,
                            1px 2px 1px $darkPeach,
                            1px 3px 1px $darkPeach,
                            1px 4px 1px $darkPeach,
                            1px 5px 1px $darkPeach,
                            1px 6px 1px $darkPeach,
                            1px 7px 1px $darkPeach,
                            1px 8px 1px $darkPeach,
                            1px 9px 1px $darkPeach,
                            1px 10px 1px $darkPeach,
            }

            .description{
            color: $darkGreen; 
            @include fluid-font-size(1.6rem,2.5rem); 
            } 
        }
        
        .links{  
            position: absolute;
            top: -1.5%;
            right: -1%;   

            a{
                text-decoration: none;
                @include fluid-font-size(4rem, 8rem);
                color: $darkGreen;
                padding: 10px 0;
                font-weight: bold;
                text-shadow: 2px 2px 2px $darkPeach;
                transition: all .2s ease-in-out;
            }

            a:hover,
            a:focus{
                color: $darkGrey;
            }
        }

        @include small-laptop{
            &{
                flex-direction: column;                
            }

            .image-container{
                width: 90%;                
            }

            .text{
                width: 100%;            
            }
        }

        @include small-phone{
            &{
                height: 500px;
                padding: 10px;
            }
            
            .image-container{
                width: 90%; 
                height: 50%;
                margin-bottom: 0;
            }

            .text{
                
                padding: 10px;
            }            
        }
    } 
}






