.work{
    margin: 0;
    height: auto;  
    
    h2{
        margin: 2% 0 5% 5%;        
    }

    h2::before{
        background-color: $projectColor;
    }
}

.projectsContainer{
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    padding: 0 5% 5% 5%; 
    border-bottom: 2px solid $whiteColor;

    .project.movie{
            margin-top: 0px;
        }
    
    .project {   
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center;  
        height: 600px;
        background-color: $projectColor;
        border: 2px solid $darkGreen;
        border-radius: 15px;        
        margin: 20px auto;
        padding:20px;   
        box-shadow: 5px 5px 5px $darkGreen; 

        .image-container {
        cursor: pointer;    
        height: 90%;
        overflow: hidden;
        width: 50%;        
        border: 2px solid $darkGrey;   
        border-radius: 15px;        
        box-shadow: 5px 5px 5px $darkGrey;
        transition: all .2s ease-in-out;

            img {                
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
                transition: all .2s ease-in-out;
                filter: grayscale(80%);
            }
        
        }    

        .image-container:hover img,
        .image-container:focus img{
            transform: scale(1.1); 
            filter: grayscale(0);          
        }

        .text{
            width: 50%;
            padding: 10px 10px 10px 40px;
            a{
                text-decoration: none; 
                display: inline-block;               

                .title {
                position: relative;
                @include fluid-font-size(2rem,3rem);
                color: $darkGreen;       
                pointer-events: none;
                margin: 15px auto;
                pointer-events: none;
                white-space: nowrap;
                text-transform: uppercase;
                font-weight: bold;                
                }
                
                .title::before{
                    content: "";
                    background-color: $whiteOpacity;
                    width: 0%;
                    height: 50%;        
                    position: absolute;
                    left: 0%;
                    bottom: 0;
                    z-index: -20;
                }
            }    
                    
            
            a:hover .title::before,
            a:focus .title::before{
                animation: underline .8s forwards linear;  
            }

            .description{
            color: $darkGreen; 
            padding-bottom: 30px;
            border-bottom: 2px solid $whiteColor;              
            @include fluid-font-size(1.6rem,2.5rem); 
            } 
        }
        
        .links{ 
            margin: 15px 0;

            a{
                position: relative;
                text-decoration: none;                 
                @include fluid-font-size(1.8rem, 2.5rem);
                color: $darkGreen;                
                font-weight: bold;                
            }

            a::before{
                    content: "";
                    background-color: $whiteOpacity;
                    width: 0%;
                    height: 40%;        
                    position: absolute;
                    left: 0%;
                    bottom: 0;
                    z-index: -20;
                }


            a:hover::before,
            a:focus::before{
                animation: underline .8s forwards linear; 
            }
        }

        @include small-laptop{
            &{
                flex-direction: column; 
            }

            .image-container{
                width: 90%;                     
            }

            .text{
                width: 100%;            
            }
        }

        @include small-phone{
            &{
                height: 500px;
                padding: 10px;
            }
            
            .image-container{
                width: 90%; 
                height: 50%;
                margin-bottom: 0;
            }

            .text{                
                padding: 10px;
            }            
        }
    } 
}






