$darkGrey:#314455;
$darkGreen:#116466;
$lightGrey:#d1e8e2;
$darkPeach: #D9B08C;
$lightPeach:#FFCB9A;
$darkRose:#9E5A63;
$lightRose:#C96569;
$moreLightPeach:#ffe5cd;
$blackColor:#000000;
$whiteColor:#ffffff;
$lightgreyOpacity:rgba(209, 232, 226, 0.7);
$greenOpacity: rgba(17, 100, 102, 0.95);
$darkroseOpacity:rgba(158, 90, 99, 1);
$darkPeachOpacity:rgba(217, 176, 140, 0.9);
$lightRoseOpacity:rgba(201, 101, 105, 1);
$whiteOpacity:rgba(255, 255, 255, 0.8);
// $lightPeachOpacity:rgba(63, 57, 51, 0.7);
$darkGreyOpacityNav:rgba(49, 68, 85, 0.7);
//colors for up-button
$darkGreyOpacity:rgba(49, 68, 85, 0.4);
$greenOpacityUpButton: rgba(17, 100, 102, 0.6);
$projectColor:rgba(255, 203, 154, 0.6);
//for skills li
$whiteOpacityLi:rgba(255, 255, 255, 0.4);
$lightPeachOpacityLi:rgba(251, 193, 139, 0.4);

// for button
$darkPeachButton: #ebac75;





$headerFont:  'Rubik', sans-serif;
$baseFont:'Poppins', sans-serif;


