$darkGrey:#314455;
$darkGreen:#116466;
$lightGrey:#d1e8e2;
$darkPeach: #D9B08C;
$lightPeach:#FFCB9A;
$darkRose:#9E5A63;
$lightRose:#C96569;
$moreLightPeach:#ffe5cd;
$blackColor:#000000;
$whiteColor:#ffffff;
$projectCityColor:#fae3d2;
$projectRoboColor:#042C4E;
$projectMovieColor:#232323;
$headerFont:  'Rubik', sans-serif;
$baseFont:'Poppins', sans-serif;;

$projectColor:rgba(255, 203, 154, 0.71);
// font-family: 'Work Sans', sans-serif;

//    text-shadow: 1px 1px 1px $raspberryColor,
//         1px 2px 1px $raspberryColor,
//         1px 3px 1px $raspberryColor,
//         1px 4px 1px $raspberryColor,
//         1px 5px 1px $raspberryColor,
//         1px 6px 1px $raspberryColor,
//         1px 7px 1px $raspberryColor,
//         1px 8px 1px $raspberryColor,
//         1px 9px 1px $raspberryColor,
//         1px 10px 1px $raspberryColor,
//         1px 18px 6px $h1Shadow,
//         1px 22px 10px $h1Shadow,
//         1px 25px 35px $h1Shadow,
//         1px 30px 60px $h1Shadow  